/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/jun/2018, 15:51:06
    Author     : joaoc
*/

AnchorPane{
    -fx-border-color:orange;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-image: url('../pics/wallpaper.jpg');
}

TextField{
    -fx-border: none;
    -fx-background-color: transparent;
    -fx-text-inner-color: orange;
}

PasswordField{
    -fx-border: none;
    -fx-background-color: transparent;
    -fx-text-inner-color: orange;
}

Button{
    -fx-background-color:rgba(0,0,0,0.1);
    -fx-border-color: orange;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: orange;

}

Button:hover{
    -fx-background-color:rgba(0,0,0,0.4);
    -fx-font-weight: bold;
    -fx-border-width: 3px;
}

.text-input, .text-input:focused {
    -fx-prompt-text-fill:darkgray;
}
Label{
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width:1px;
    -fx-border-radius: 5px;
}