/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/jun/2018, 11:20:27
    Author     : joaoc
*/

.borderPane{
    -fx-background-image: url('../pics/wallpaper.jpg');
    -fx-border-color: orange;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

Button{
    -fx-background-color:rgba(0,0,0,0.1);
    -fx-border-color: orange;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: orange;

}

Button:hover{
    -fx-background-color:rgba(0,0,0,0.4);
    -fx-font-weight: bold;
    -fx-border-width: 3px;
}

.text-input, .text-input:focused {
    -fx-prompt-text-fill:darkgray;
}

.text-input{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: orange;
}

.spinner .decrement-arrow-button .decrement-arrow,
.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: orange;
}

.spinner{
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-background-color: transparent;
}