/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/jun/2018, 12:19:53
    Author     : joaoc
*/

.borderPane{
    -fx-background-image: url('../pics/wallpaper.jpg');
    -fx-border-color: orange;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

Button{
    -fx-background-color:rgba(0,0,0,0.1);
    -fx-border-color: orange;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-text-fill: orange;
    -fx-font-size: 18px;

}

Button:hover{
    -fx-background-color:rgba(0,0,0,0.4);
    -fx-font-weight: bold;
    -fx-border-width: 3px;
    -fx-font-size: 18px;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
}

.tab-pane .tab
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.tab-pane .tab:selected
{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-focus-color: #ff9900;
    -fx-focus-faint-color: #ff9900;
}


.tab .tab-label { 
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ff9900;
    -fx-font-size: 15px;
}

.list-view{
    -fx-background-color: transparent;
}

.list-view .list-cell:even{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-alignment: CENTER;
    -fx-text-fill: #dba000;
    -fx-font-size: 20px;
}

.list-view .list-cell:odd{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-alignment: CENTER;
    -fx-text-fill: #dba000;
    -fx-font-size: 20px;
}

.list-view .list-cell:even:selected{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-border-color: orange;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.list-view .list-cell:odd:selected{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-border-color: orange;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.list-view .list-cell:even:hover{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.list-view .list-cell:odd:hover{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}



.list-view .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-color: #dba000;
}

.list-view .scroll-bar:vertical .thumb:hover{
    -fx-color: orange;
}

.list-view .scroll-bar:vertical .thumb:selected{
    -fx-color: orange;
}

.list-view .thumb{
    -fx-color: #dba000;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: orange;
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover{
    -fx-background-color: transparent;
}

.text-input, .text-input:focused {
    -fx-prompt-text-fill:darkgray;
    -fx-font-size: 18px;
}

.text-input{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: orange;
    -fx-font-size: 18px;
}

.spinner .decrement-arrow-button .decrement-arrow,
.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: orange;
}


.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-background-color: transparent;
}

.spinner{
    -fx-background-color: transparent;
}


.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-background-color: transparent;
}

.searchBar{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 1px;
    -fx-text-fill: orange;
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 1px;
    -fx-text-fill: orange; 
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.combo-box .list-cell {
    -fx-text-fill: orange;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.combo-box-popup .list-view {
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: orange;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-text-fill: orange;
    -fx-font-size: 16px;
    -fx-border-color: transparent;
    -fx-font-weight: normal;
}

.combo-box-popup .list-view .list-cell:hover:selected {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-color: transparent;
    -fx-font-weight: normal;
}

.combo-box .arrow{
    -fx-background-color: orange;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
}

.radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: orange;
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
}
.radio-button .radio:selected {
    -fx-background-color: transparent;
}
.radio-button -radio:armed {
    -fx-background-color: transparent;
}
.radio-button .dot {
    -fx-mark-color: orange;
}