/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/jun/2018, 0:37:30
    Author     : joaoc
*/

.borderPane{
    -fx-background-image: url('../pics/wallpaper.jpg');
    -fx-border-color: orange;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
}

.tab-pane .tab
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.tab-pane .tab:selected
{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-focus-color: #ff9900;
    -fx-focus-faint-color: #ff9900;
}


.tab .tab-label { 
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ff9900;
    -fx-font-size: 15px;
}

.tab-content-area{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.text-input{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: orange;
}