/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2018, 10:03:06 PM
    Author     : vaaz
*/

.tab-pane .tab-header-area .tab-header-background{
    -fx-opacity: 0;
}

.tab-pane .tab
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.tab-pane .tab:selected
{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-focus-color: #ff9900;
    -fx-focus-faint-color: #ff9900;
}


.tab .tab-label { 
    -fx-pref-width: 100;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ff9900;
    -fx-font-size: 15px;
}

.tab-content-area
{
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.list-view{
    -fx-background-color: transparent;
}

.list-view .list-cell:even{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-alignment: CENTER;
    -fx-text-fill: #dba000;
    -fx-font-size: 20px;
}

.list-view .list-cell:odd{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-alignment: CENTER;
    -fx-text-fill: #dba000;
    -fx-font-size: 20px;
}

.list-view .list-cell:even:selected{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-border-color: orange;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.list-view .list-cell:odd:selected{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-border-color: orange;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
}

.list-view .list-cell:even:hover{
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.list-view .list-cell:odd:hover{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.list-view .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-color: #dba000;
}

.list-view .scroll-bar:vertical .thumb:hover{
    -fx-color: orange;
}

.list-view .scroll-bar:vertical .thumb:selected{
    -fx-color: orange;
}

.list-view .thumb{
    -fx-color: #dba000;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: orange;
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover{
    -fx-background-color: transparent;
}

.text-input {
    -fx-border-color: orange;
    -fx-border-radius: 15px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view {
    -fx-base: rgba(0, 0, 0, 0.2);
    -fx-control-inner-background:rgba(0, 0, 0, 0.2);
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-font-size: 16px;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.table-column{
    -fx-alignment: CENTER;
}

.table-view .table-row-cell{
    -fx-background-color:transparent;
    -fx-border-color: transparent;
}

.table-row-cell:filled:selected { 
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}


/*.image:hover{
    -fx-border-color: red;
    -fx-border-width: 3px;
}*/

